h1 {
    font-size: 40px;
    text-align: center;
    background: rgb(174, 224, 123);
}
p {
    text-shadow: rgb(174, 224, 123) rgb(214, 144, 144);
    font-size: 18px;
    text-shadow: cornflowerblue;
}